body{
	margin-right: 10%;
	margin-left: 10%;
	background-color: #999;
	height: 80%;
}
.naslov-desno h1, .naslov-desno h2{
	text-align: center;
	color: #444;
	font-family: inherit;
	text-shadow: 4px 4px 6px rgb(169,169,169); 
}
.naslov-desno h1{
	padding-top: 10px;
	font-size: 250%;
	padding-right: 2%;
	padding-left: 2%;
}
.naslov-desno h2{
	padding-top: 10px;
	font-size: 230%;

}
.naslov-desno ul{
	text-align: right;
	list-style: none;
}
.naslov-desno li{
	display: inline;
}
.naslov-desno .fa{
	padding-top: 10px;
	margin-right: 20px;
	color: #444;
}
#page{
	width: 100%;
	border: 1px ridge;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #DCDCDC;
	margin: 0;
	font-family: inherit;
}

.naslov-levo{
	width: 25%;
	float: left;
}
.naslov-desno{
	width: 75%;
	float: right;
	display: inline;
	margin-top: 10px;
}
.naslov{
	width: 100%;
	display: inline-block;
}
.naslov-levo img{
	margin: 5px 0px 0px 5px;
	border: 1px solid;
	border-color: #A9A9A9; 
	border-radius: 10px;
}
nav{ 
	background-color: #333;
	width: 100%;
	text-align: center;
	border-radius: 10px;
	position: -webkit-sticky;
    position: sticky;
    top: 0;
}
nav ul{
	border: 3px ridge;
	border-radius: 10px;
	list-style: none;
	text-align: left;
}
nav li{
	display: inline-block;
	font-size: 20px;
	text-align: center;
	width: 16%;
	padding-top: 1%;
    padding-bottom: 1%;
}
nav a{
	font-family: inherit;
	text-decoration: none;
	color: white;
	display: block;
}
nav a:hover{
	color: #DC143C;
}
.dropdown .dropbutton{
	font-size: 19px;
	border: none;
	outline: none;
	color: white;
	background-color: inherit;
	font-family: inherit;
}
}
.dropdown{
	float: right;
	overflow: hidden;
}
.dropdown:hover{
	color: #DC143C;
}
.dropdown-content{
	width: 19%;
	border-bottom-style: ridge;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 10px;
	text-align: left;
	padding-left: 3%;
	padding-bottom: 5px;
	padding-top: 1%;
	display: none;
	position: absolute;
	background-color: #333;
	color: white;
	min-width: 194px;
	z-index: 1;

}
.dropdown:hover .dropdown-content{
	display: block;
}
.page hr{
	background-color: gray;
	border: 1px;
	height: 1px;
}
footer{
	width: 100%;
	height: 350px;
	background-color: #333;
	color: #c2c2c2;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.footer-info{
	width: 100%;
	display: inline-block;
}
.footer-desno{
	text-align: left;
	float: right;
	margin-right: 3%;
	display: inline; 
}
.footer-levo{
	text-align: left;
	width: 40%;
	float: left;
	margin-left: 3%;
}
footer ul{
	list-style: none;
}
footer li{
	display: inline;
	margin-right: 20px;

}
footer h3{
	color: #c2c2c2;
}
.fa{
	color: #c2c2c2;
	padding-left: 10px;
	padding-right: 10px;
}
footer ul .fa:hover, .naslov-desno .fa:hover{
	color: #DC143C;
}
footer p{
	font-size: 15px;
}
footer hr{
	background-color: #555;
	border: 0;
	height: 1px;
	margin-bottom: 20px;
}
.p1{
	margin-left: 
}
.desavanja{
	padding-bottom: 1px;
}
.desavanja h2{
	background-color: #555;
	color: white;
	padding: 20px 20px 20px 20px;
}
.desavanja ul, .festival ul, .turneje ul{
	list-style: none;
	text-decoration: none;
	-webkit-padding-start: 10px;
}
.desavanja .fa{
	color: #333;
	font-size: 20px;
}
.desavanja p{
	font-size: 20px;
}
.desavanja hr{
	color: #B0C4DE;
	margin-right: 10px;
}
.balkanski_susreti img, .festival img, .kontakt img{
	width: 99%;
	padding-left: 0.5%;
	padding-right: 0.5%;
}
.balkanski_susreti, .festival, .turneje, .sarenica, .veliki-koncerti, .pravilnik-pocetna{
	text-align: center;
	color: #333;
	font-size: 20px;
}
.balkanski_susreti a, .festival a, .pravilnik-pocetna a{
	text-decoration: none;
	color: blue;
}
.balkanski_susreti a:hover, .festival a:hover, .pravilnik-pocetna a:hover{
	color: #DC143C;
}
.festival h2,h1{
	text-align: left;
	padding-left: 45px;
}
.festival h1, .turneje h1{
	background-color: #555;
	color: white;
	padding: 20px 20px 20px 20px;
}
.festival p, .turneje p{
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
}
.festival ul img, .turneje ul img{
	width: 350px;
	height: 300px;
	border-radius: 10px;
	border: 3px solid #DCDCDC;
}
.festival ul img:hover, .turneje ul img:hover{
	border: 3px solid;
	color: #555;
}
.festival li, .turneje li{
	display: inline-block;
}
.turneje h2,h3{
	text-align: center;
	color: #333;
}
.table{
	text-align: center;
}
.table table{
	border: 1px solid #555;
}
.table table,th,td{
	width: 60%;
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 20px;
	color: #333;
}
.table th,td{
	padding: 2% 2% 2% 2%;
}
.table td{
	border: 1px solid;
	color: #555;
}
.table th{
	color: white;
	font-size: 25px;
	background-color: #555;
}
.kontakt p, .kontakt h1{
	font-size: 30px;
	color: #333;
	padding: 20px 20px 20px 20px;
}
.kontakt h1, .onama h1, .pravilnik h1, .pravilnik h2, .koncerti h1{
	background-color: #555;
	color: white;
	padding: 20px 20px 20px 20px;
}
.kontakt ul{
	list-style: none;
	text-decoration: none;
	-webkit-padding-start: 20px;
	color: #333;
	font-size: 20px;
}
.kontakt li, .koncerti li{
	padding-top: 10px;
}
.pravilnik, .koncerti{
	text-align: justify;
}
.pravilnik p, .onama p, .koncerti p{
	font-size: 20px;
	color: #333;
	margin-left: 20px;
	margin-right: 20px;
}
.onama{
	text-align: justify;
}
.onama table{
	width: 50%;
	margin-right: 10px;
	margin-left: 10px;
}
.form{
	margin-left: 50px;
	margin-right: 20px;
	font-size: 20px;
}
.form input[type=text]{
	width: 200px;
	height: 40px;
	font-size: 20px;
	color: #333;
	padding: 7px 10px 7px 10px;
	border: 2px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.form textarea{
	font-size: 20px;
	padding: 7px 10px 7px 10px;
	border: 2px solid #ccc;
	border-radius: 4px;
	color: #333;
}
.form input[type=submit]{
	width: 150px;
	font-size: 20px;
	text-align: center;
	background-color: cadetblue;
	color: white;
	padding: 7px 20px 7px 20px;
	border: none;
	border-radius: 4px;
}
.form input[type=submit]:hover{
	background-color: #65a1e7;
}
.koncerti ul{
	font-size: 20px;
	color: #333;
}
iframe{
	margin-left: 20px;
}